*{
    margin: 0;
    padding: 0;

}

body{
background-color: dimgray;


}

.top{

 color: black;
 background-color: rgb(54, 52, 52);
 width: 100%;
 height: 50px; 

}
.title{


font-family: Arial, Helvetica, sans-serif;
padding: 1%;

}
.BodyTheCalculator{

    
    background-color: gainsboro;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    
    

}
#Space1{
    background-color: gainsboro;
    margin-left: 10%;
    width: 20px;
    height: 20px;
    border-style: solid;
   
}
#Space2{
    background-color: gainsboro;
    margin-left: 2%;
    width: 20px;
    height: 20px;
    border-style: solid;
 

}
#Space3{
    background-color: gainsboro;
    margin-left: 2%;
    width: 20px;
    height: 20px;
    border-style: solid;


}
#button{
    margin-left: 10%;
    border-style: solid;
    background-color: gainsboro;
    margin-top: 1%;
}

.BottomBanner{

 color: black;
 background-color: rgb(54, 52, 52);
 width: 100%;
 height: 50px; 
 position: absolute;
 bottom: 0;
 
}
.words{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 1%;
}